.vagrant/

/*/*.log
/*/config.rb
!/cookbook/config.rb

/*/sql_dumps/*.sql
/*/sql_dumps/*.backup
/*/nginx/*.conf

# Chef
.delivery/

# Chef vendor recipes
/cookbooks/_chef_recipe/vendor/*
!/cookbooks/_chef_recipe/vendor/.gitkeep

Berksfile.lock
