require '../cookbooks/config.rb'

# overwrites the vagrant settings in ../cookbook/config.rb
$VAGRANTFILE_BOX                = "inviqa/centos-6-minimal"
$VAGRANTFILE_NETWORK_IP         = "192.168.33.40"
$VAGRANTFILE_NETWORK_HOST_PORT  = "9494"

$VM_NAME = "centos_69"

# VM Sync Folders
$VM_SYNC_FOLDERS = [
    { :HOST_PATH => "/var/www", :GUEST_PATH => "/vagrant_data", :TYPE => "nfs" }
]
